@font-face {
  font-family: 'New York Times';
  src: url('../fonts/OldLondon.ttf');
}

header {
  font-family: 'New York Times', sans-serif;
  margin: 20px 0;
  font-size: 4em;
  text-align: center;
  color: #000000;
}

.form-container {
	padding: 20px;
	outline: 1px solid #ccc;
}